.container {
  margin: auto;
  padding: 20px;
  background-color: #fff; 
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  display: flex;
}

.left-section {
  flex: 1;
}

.right-section {
  flex: 2; 
  padding-left: 20px; 
  display: flex; 
  justify-content: center;
  align-items: center;
}

.right-section .container {
  width: 100%;
  height: 100%;
  max-width: none;
  max-height: none;
}

.heading {
  text-align: center;
  color: #333; 
  margin-bottom: 20px;
}

.data {
  margin-bottom: 10px;
}

.data p {
  margin: 5px 0;
  color: #666; 
}