.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 90%;
  max-height: 90%;
}

@media (min-width: 768px) {
  .modal {
    max-width: 70%;
    max-height: 80%;
  }
}

@media (min-width: 1024px) {
  .modal {
    max-width: 60%;
    max-height: 70%;
  }
}

@media (min-width: 1440px) {
  .modal {
    max-width: 50%;
    max-height: 60%;
  }
}
